### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff:
instance/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terraform/
.terraform.lock.hcl
*.tfplan

*.zip